* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 30px;
}

ul {
  list-style: none;
}

main,
.main-image img #display-articles section,
#article-one,
#right-articles,
.cover-background,
.titles ul img,
.fig-title {
  width: 100%;
}

.stk {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.li-style {
  list-style: none;
}
.relative {
  visibility: hidden;
  position: absolute;
}

.mid-nav-main {
  justify-content: space-between;
}
.mid-nav-main img {
  width: 106px;
  height: 50px;
}
.mid-nav {
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.sp-btw {
  justify-content: space-between;
}

.mrg-16 {
  margin: 8px 16px;
}

.n-deco {
  text-decoration: none;
}

.disable-flex {
  display: none;
}

.flex-end {
  justify-content: flex-end;
}

.padding-15 {
  padding: 5x 15px;
}

.c-white {
  color: white;
}

.c-orange {
  color: rgb(255, 83, 41);
}

.h-100 {
  height: 100%;
}

.c-gray {
  color: gray;
}

.f-bold {
  font-weight: bold;
}

.f-14 {
  font-size: 14px;
}

.author-time:hover {
  cursor: pointer;
  color: white;
}

.border-color {
  border: solid 2px black;
}

.mrg-right {
  margin-right: 10px;
}

.mrg-left {
  margin-left: 20px;
}

.mrg-bottom {
  margin-bottom: 5px;
}

.fixed {
  justify-content: space-between;
}

.fixed li {
  margin-right: 20px;
}

.d-block {
  display: inline-block;
}

.v-middle {
  vertical-align: middle;
}

.nav-left {
  visibility: hidden;
  position: absolute;
}

.nav-right img {
  width: 125px;
}

.nav-src i {
  color: lightgray;
  padding: 16px;
  font-size: 16px;
  border-right: 1px solid lightgray;
}
.nav-src i:hover {
  color: rgb(48, 46, 46);
  cursor: pointer;
}
.nav-bar i {
  color: red;
  font-size: 20px;
  padding: 16px;
  border-left: 1px solid lightgray;
}
.nav-time {
  visibility: hidden;
  position: absolute;
}
.nav-time h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 100;
  color: red;
  cursor: pointer;
}

.join-nav {
  background-color: rgb(255, 221, 51);
  color: black;
  font-size: 14px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.t-logo {
  height: 100px;
  width: 40%;
}

.grad-red {
  height: 100%;
  background: rgb(254, 66, 14);
  background: linear-gradient(
    -185deg,
    rgba(245, 61, 10, 0.63) 0%,
    rgba(46, 32, 32, 0.668) 80%
  );
}

#display-articles {
  display: flex;
  margin: 2px 0px;
  flex-direction: column;
}

#display-articles a {
  color: white;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

#display-articles small {
  position: absolute;
  bottom: 9px;
  left: 18px;
}

#display-articles small a {
  position: inherit;
}

#display-articles section {
  position: relative;
  height: 100%;
  background: rgb(254, 66, 14);
  background: linear-gradient(
    -185deg,
    rgba(245, 61, 10, 0.63) 0%,
    rgba(46, 32, 32, 0.668) 80%
  );
  background-size: 100% 100%;
  z-index: 1;
}

#article-one {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/Screenshot-2020-09-08-at-8.43.57-PM-e1599580066674-796x419.png");
  background-size: cover;
  height: 30vh;
  margin-bottom: 1%;
}

#right-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

#right-articles a {
  font-size: 22px;
}

#right-articles article {
  height: 49%;
}

#right-article-one {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/08/tnw2020-empty_feature_img.jpg");
  background-size: cover;
}

#right-article-two {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/elonstonks-796x448.jpg");
  background-size: cover;
}

.cover-background {
  height: 100%;
  background: rgb(254, 66, 14);
  background: linear-gradient(
    -185deg,
    rgba(245, 61, 10, 0.63) 0%,
    rgba(46, 32, 32, 0.668) 80%
  );
  background-size: 100% 100%;
  z-index: 2;
}

.titles h2 {
  margin-top: 5rem;
  color: rgb(255, 68, 34);
  font-size: 20px;
  font-weight: bold;
}

.titles > ul {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  border: solid 2px none;
  background-color: none;
}

.titles ul li {
  border: solid 2px none;
}

.titles ul img {
  height: auto;
}

.funding {
  padding: 2rem;
  padding: 2px;
}

.funding-titles {
  justify-content: space-between;
  display: grid;
  grid-column: 1/5;
  grid-row: 1;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.funding-titles ul {
  list-style: none;
  margin: 39px 40px 0 0;
}

.funding-titles li {
  display: inline-block;
  font-size: 1.4rem;
  margin-right: 10px;
}

.main-container {
  margin: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
.d-grid {
  display: grid;
}
.d-iblk {
  display: inline-block;
}
.d-blk {
  display: block;
}
.m-20 {
  margin: 20px;
}
.topic {
  color: #f42;
  font-size: 28px;
  margin: 0;
  padding-top: 20px;
}
.topic:hover {
  color: black;
  cursor: pointer;
}
.topic-right:hover,
.topic-funding:hover {
  color: #555;
  cursor: pointer;
}
.topic-right,
.topic-funding {
  color: #f42;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.txt-center {
  text-align: center;
}
.txt-cut {
  text-decoration: line-through;
}
.title-2,
.title-4 {
  color: black;
  font-size: 14px;
  margin: 0;
}
.title-2:hover {
  color: #f42;
  text-decoration: underline;
  cursor: pointer;
}
.price {
  margin: 5px 0 0 0;
  color: gray;
  font-weight: 100;
  font-size: 12px;
}
main {
  margin: 0 auto;
}

.txt-spc:hover {
  color: black;
  cursor: pointer;
}

.funding-top {
  flex-direction: column;
}
.funding-right {
  color: #f42;
}

.funding-items {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0 2%;
  margin-top: 10px;
}
.funding-item {
  margin-bottom: 10px;
}
.funding-item-4 {
  visibility: hidden;
  position: absolute;
}
.funding-img {
  margin: 10px 0 0 10px;
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}
.funding-inside {
  background: #fffaf8;
}
.funding-inside-top {
  padding: 10px;
  border-bottom: 1px solid #f0a599;
}
.funding-inside-1 p {
  margin: 0;
  color: #555555;
  padding: 5px;
  font-size: 13px;
}
.funding-inside-bottom p {
  margin: 0;
  padding: 10px;
  font-size: 12px;
  color: #555555;
  font-weight: 400;
  line-height: 1.6;
}
.sp-gray {
  color: #aaa;
}
.bgf-1 {
  background-image: url(../images/funding/fund-01.jpg);
}
.bgf-2 {
  background-image: url(../images/funding/fund-02.jpg);
}
.bgf-3 {
  background-image: url(../images/funding/fund-03.jpg);
}
.bgf-4 {
  background-image: url(../images/funding/fund-04.jpg);
}
.funding-item img {
  width: 60px;
  height: 60px;
}
.left-80 {
  padding: 10px 10px 10px 80px;
}
.bg-red {
  background-color: #f34120;
}
.bg-bred {
  background-color: #ffebff;
}
.funding-title {
}
.title-5 {
  font-size: 16px;
  color: white;
  margin: 0;
}
.multiple {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 2%;
  margin-top: 40px;
}
.main-image {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 3%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: relative;
  margin-top: 20px;
}
.main-image img {
  height: 100%;
  position: relative;
  z-index: -1;
}
.main-image-title {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 10px;
}
.category,
.fig-category {
  font-size: 13px;
  font-weight: 100;
  margin: 0;
}
.title-3 {
  font-size: 20px;
  margin: 5px 0 0 0;
  color: white;
}
.title-3:hover {
  text-decoration: underline;
  cursor: pointer;
}
.author-time {
  margin: 5px 0 0 0;
  font-size: 12px;
  font-weight: 100;
  color: #555;
}
.author-time:hover {
  color: white;
  cursor: pointer;
}
figcaption {
  color: #f42;
  margin-top: 2px;
  justify-content: space-between;
}
figcaption img {
  width: 96px;
  height: 96px;
}
.fig-title {
  background: #fff4f2;
  padding: 10px;
}

.fig-det {
  font-size: 16px;
  margin: 0;
}

.fig-det:hover {
  text-decoration: underline;
  cursor: pointer;
}
.multiple {
  grid-template-columns: repeat(1, 1fr);
}
.multiple ul {
  padding-left: 15px;
}
.multiple li {
  color: #aaa;
  font-size: 14px;
  border-bottom: 1px solid #e9e9e9;
  text-indent: -2em;
  padding: 8px 0;
  line-height: 1.4em;
}
.multiple li:hover {
  color: #555;
  cursor: pointer;
}
.multiple li:before {
  content: "•";
  font-size: 16px;
  color: red;
  margin: 0 10px;
}
.latest-items {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0 2%;
}
.latest-item {
  padding: 10px 0;
}
.latest-item img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.latest-item-title {
  margin-left: 10px;
}
footer {
  color: white;
}
.icons ul li {
  padding: 40px 10px 0 10px;
}
.foot-nav ul li {
  color: #aaa;
  font-size: 13px;
  padding: 30px 10px;
}
.foot-nav ul li:hover {
  color: white;
  cursor: pointer;
}
.foot-first {
  background: #131313;
}

.copywrite {
  height: 100px;
  background: #000;
  color: #aaa;
  padding-top: 40px;
}

@media (min-width: 767px) {
  .mid-nav,
  .latest-item img {
    width: 100%;
  }
  .relative {
    padding: 0 20px;
    background: black;
    color: white;
    font-size: 14px;
    display: block;
    max-height: 40px;
    justify-content: space-between;
    display: flex;
    visibility: visible;
    position: static;
    padding-left: 20px;
  }
  .relative li {
    margin-right: 10px;
  }
  .nav-bar {
    display: none;
    position: absolute;
  }
  .mid-nav {
    padding: 0 10px;
  }
  .nav-left {
    font-size: 14px;
    color: #aaa;
    visibility: visible;
    position: static;
  }
  .nav-left ul {
    margin: 0;
  }
  .nav-left ul li {
    margin: 0 10px;
    line-height: 50px;
  }
  .nav-left ul li:hover {
    color: rgb(48, 46, 46);
    cursor: pointer;
  }
  .join-nav {
    background-color: rgb(255, 221, 51);
    color: black;
    font-size: 14px;
    padding-left: 126px;
    height: 30px;
    text-align: justify;
    line-height: 30px;
  }
  #display-articles {
    display: flex;
    flex-direction: row;
    height: 60vh;
  }
  #right-articles {
    width: 35%;
  }
  #article-one {
    width: 64.5%;
    height: 60vh;
    margin-right: 0.5%;
  }
  .latest-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .latest-item {
    flex-direction: column;
  }
  .latest-item img {
    height: 150px;
    object-fit: cover;
  }
  .funding-top {
    flex-direction: column;
  }
  .funding-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .funding-right ul li {
    display: inline-block;
  }
  .multiple {
    grid-template-columns: repeat(2, 1fr);
  }
  .copywrite {
    line-height: 100px;
  }
  .cop-item {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .nav-time {
    visibility: visible;
    position: relative;
  }
  .nav-time h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 100;
    color: red;
    cursor: pointer;
  }
  .title-2 {
    font-size: 16px;
  }
  .price {
    font-size: 13px;
  }
  .latest-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .latest-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .funding-top {
    justify-content: space-between;
    flex-direction: row;
  }
  .funding-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .funding-right ul li {
    display: inline-block;
  }
  .multiple {
    grid-template-columns: repeat(3, 1fr);
  }
  .funding-item-4 {
    visibility: visible;
    position: static;
  }
}
